<main class="main container">
	<header class="header">
		<h1 class="heading">/Beers <span class="sub">new</span></h1>
	</header>

	<form name="newBeer" method="post" ng-submit="addBeer(beer)">
		<fieldset>
			<legend class="visuallyhidden">New beer</legend>

			<div class="form-group">
				<input type="text" class="field" name="name" id="name" ng-model="beer.name" ng-required="true" placeholder="Name">			
				<label for="name" class="message" ng-show="newBeer.name.$invalid && !newBeer.name.$pristine">Invalid!</label>
			</div>

			<div class="form-group">
				<input type="text" class="field" name="alcohol" id="alcohol" ng-model="beer.alcohol" ng-required="true" placeholder="Alcohol">
				<label for="alcohol" class="message" ng-show="newBeer.alcohol.$invalid && !newBeer.alcohol.$pristine">Invalid!</label>
			</div>

			<div class="form-group">
				<input type="text" class="field" name="style" id="style" ng-model="beer.style" ng-required="true" placeholder="Style">
				<label for="style" class="message" ng-show="newBeer.style.$invalid && !newBeer.style.$pristine">Invalid!</label>
			</div>
			
			<div class="form-group">
				<select class="field" name="country" id="country" ng-model="newBeer.country" ng-required="true" ng-options="country.code as country.name for country in countries | orderBy:'name'">
					<option value="">Select a country</option>
				</select>
				<label for="country" class="message" ng-show="newBeer.country.$invalid && !newBeer.country.$pristine">Invalid!</label>
			</div>

			<div class="form-group">
				<button type="submit" class="btn" ng-disabled="newBeer.$invalid">Add beer</button>
			</div>
		</fieldset>
	</form>
</main>