body {
	font-family: 'Droid Serif', serif;
	color: #2A2A2A;
	background-color: #FAFAFA;
}

*, 
*:before, 
*:after {
	box-sizing: border-box;
}

.container {
	width: 840px;
	padding: 0 10px;
	margin: 0 auto;
}

/* 
 * HEADER
 *
 */


.header {
	height: 65px;
	margin: 0 0 2em;
	position: relative;
	z-index: 95;
	background-color: #34495E;
}

.heading {
	margin: 0;
	font-size: 28px;
	font-weight: 700;
	color: #34495E;
}

.heading .sub {
	font-size: 22px; 
	color: #888;
}

.nav {
	margin-top: 15px;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav .nav-item {
	display: inline-block;
	margin: 0 10px;
}

.nav .nav-item > a {
	display: block;
	padding: 6px 15px;
	border-radius: 20px;
	line-height: 1.4;
	font-size: 16px;
	color: #FFF;	
}

.nav .nav-item > a:hover,
.nav .nav-item > a:focus,
.nav .nav-item > .current {
	text-decoration: none;
	background-color: #FFF;
	color: #4A4A4A;
}


/*
 * BODY
 *
 */

.main {
	padding: 40px;
	margin-top: 100px; 
	border-radius: 10px;
	box-shadow: 0 10px 45px rgba(0,0,0,.085); 
	background-color: #FFF;
}

.main .header {
	height: inherit;
	background-color: transparent;
}


/*
 * BEER
 *
 */

.beer-image {
	max-width: 180px;
	height: auto;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 4px double #E8E8E8;
    background: #FFF;
}

.beer-content {
	margin-top: 15px;
    padding: 15px 0 15px 200px;
	border-bottom: 4px double #E8E8E8;
	border-top: 4px double #E8E8E8;
}


/*
 * TABLE
 *
 */

.table {
	width: 100%;
	margin-bottom: 0;
	background-color: #F4F5F7;

    border-collapse: collapse;
}

.table thead tr th,
.table tbody tr td {
	border: none;
	padding: 20px;
}

.table thead tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #FFF;
	text-align: left;
	font-weight: 700;
	color: #4A4A4A;
}

.table tbody tr:nth-child(2n) td {
	background-color: #FFF;
}

.table tbody tr td > a {
	padding-right: 25px;
	background: transparent url('../image/link.png') right center no-repeat; 
	text-decoration: none;
	color: #2A2A2A;
}

.table thead tr th > button {
	border: none;
	padding-left: 0;
	padding-right: 25px;
	cursor: pointer;
	background: transparent url('../image/orderby.png') right center no-repeat;
	font-family: 'Droid Serif', serif;
	font-weight: 700;
	color: #4A4A4A;
}

.table thead tr th > button.reverse {
	background-image: url('../image/orderby-reverse.png');
}


/*
 * FORM
 *
 */

fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.form-group {
	margin-bottom: 20px;
}

.field {
	width: 100%;
	padding: 20px;
	border: 1px solid #CACACA;
	font-family: 'Droid Serif', serif;
}

.field:focus {
	border-color: #34495E;
	outline: none;
	color: #34495E;
}

select.field {
	-webkit-appearance: none;
	background: url('../image/select.png') 97.5% center no-repeat;
}

select.field:before {
	content: '';
	position: absolute;
}




/*
 * BUTTONS
 *
 */

.btn {
	width: 100%;
	padding: 20px;
	border: none;
	cursor: pointer;
	display: block;
	border-radius: 0;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.05);
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 700;
	background-color: #E74C3C;
	color: #FFF;
}

.btn:not([disabled]):focus,
.btn:not([disabled]):hover {
	color: #FFF;
	outline: none;
	opacity: .85;
}

.btn:disabled {
	cursor: no-drop;
    background: #CCC;
}


/*
 * VALIDATION
 *
 */

.message {
	padding: 10px;
	margin: 2px 0;
	display: block;
	color: #D9534F;
}

/*
 * MODAL
 *
 */

.modal .heading {
	margin-bottom: 5px;
	font-size: 32px;
}

.modal-content {
	border: none;
	border-radius: 0;
	box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.modal-header,
.modal-footer,
.modal-body {
	border: none;
	padding: 20px;
}

.modal-body {
	padding-top: 40px;
	padding-bottom: 80px;
	min-height: 220px;
}

.modal-title {
	font-weight: 700;
	font-size: 32px;
}

@media (min-width: 768px) {
	.modal-dialog  {
		width: 720px;
	}
}


/*
 * ANIMATIONS
 *
 */


.transition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}

.transition.ng-enter,
.transition.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.transition.ng-enter {
    opacity: 0;
}
.transition.ng-enter-active {
    opacity: 1;
}

.transition.ng-leave {
    opacity: 1;
}

.transition.ng-leave-active {
    opacity: 0;
}




/*
 * HELPERS
 *
 */

.center {
	text-align: center;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
